<div class="mb-4 lead">
    <hr>
    <h1> Virtual airlines </h1> <br>
 Votre Role ne vous permet pas d acceder a la page<br><br>
    <a href="#" class="btn btn-outline-success">Retour</a>
    <hr>
</div>