

    <form method="post">
        <label for="inputName">name</label>
        <input type="text" name="name" id="inputName" placeholder="Votre prenom" ><br>
        <label for="inputLastename">lastname</label>
        <input type="text" name="lastname" id="inputLastename" placeholder="Votre nom " ><br>
        <label for="inputEmail">email</label>
        <input type="text" name="email" id="inputEmail" placeholder="Votre email" ><br>
        <button type="submit" id="valider">
  S'inscrire
        </button>
    </form>

