<form method="post">
    <label for="inputEmail">email</label>
    <input type="text" name="email" id="inputEmail" placeholder="Votre email" ><br>
    <button type="submit" id="confirmer">
        reset
    </button>
</form>

