{% extends 'base.html.twig' %}
{% block title 'S inscrire' %}
{% block body %}
    <div class="container mt-4">
        <p> votre compte a bien été cree vous pouvez vous connecter en cliquant <a href="{{ path('app_login') }}">ice</a>
    </div>
{% endblock %}
