{% extends 'base.html.twig' %}
{% block title 'S inscrire' %}
{% block body %}
    <div class="container mt-4">
        <h2> S'inscrire</h2>
        {{ include ('user/register/form.html.twig',{form: form, button: 's inscrire'}) }}
    </div>
{% endblock %}
